{% extends "squelette.html" %}

{% block titre%}Page du groupe{% endblock %}



{% block nav %}

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{profil['prenom']}} {{profil['nom']}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/affichier_profil?userId={{profil['id']}}">profil</a>
        <a class="dropdown-item" href="/">deconnexion</a>
      </div>
    </li>

{% endblock %}





{% block corps %}


{% if adminId == userId %}

      <div class="row">
        <div class="col-12">
          <div class="card">
            <!--img class="card-img-top" src="static/images/file_de_cadeau.jpeg" alt="Card image"-->
            <div class="card-body">
              <h2 class="card-title">Gestion de la pige</h2>

              <h5 class="card-title">Nom du groupe  : {{groupe['nom']}}</h5>
              <p class="card-text">Date de l'échange : {{groupe['datePige']}}</p>
              <p class="card-text">Montant maximum : {{groupe['montant']}}$</p>

              {% if aPige == 0 %}
              <h5>La pige n'est pas effectuée pour l'instant.</h5>
              <p>Veuillez appuyer sur "Effectuer la pige" pour effectuer la pige lorsque vous serez prêt.</p>
              {% else %}
              <h5>La pige a été effectuée!!!</h5>
              <p>Vous pouvez voir qui vous avez pigé dans la section ci-dessous.</p>
              {% endif %}

              
              {% if aPige != 0 %}
              <p>Vous ne pouvez plus modifier la pige après avoir effectué la pige.<p>
              {% else %}
              <!--a href="/creer_groupe" class="btn btn-outline-success" role="button">Modifer la pige</a-->
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modifierPige">Modifer la pige</button>
              <a href="/effectuer_pige/{{groupeId}}/{{userId}}" class="btn btn-outline-success" role="button">Effectuer la pige</a>
              {% endif %}
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EnvoyerEmail">Envoyez un message aux participants</button>
              
            </div>
            
          </div>
        </div>
      </div>

{% else %}


      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
          	<!--img class="card-img-top" src="{{url_for('static',filename='images/file_de_cadeau.jpeg')}}" alt="Card image"-->
            <div class="card-body">
              <h5 class="card-title">Nom du groupe  : {{groupe['nom']}}</h5>
              <p class="card-text">Date de l'échange : {{groupe['datePige']}}</p>
              <p class="card-text">Montant maximum : {{groupe['montant']}}$</p>

              {% if aPige == 0 %}
              <h5>La pige n'est pas effectuée pour l'instant.</h5>
              <p>Veuillez communiquez avec l'organisateur pour que ce dernier effectue la pige.</p>
              {% else %}
              <h5>La pige a été effectuée!!!</h5>
              <p>Vous pouvez voir qui vous avez pigé dans la section ci-dessous.</p>
              {% endif %}


              
            </div>
            
          </div>
        </div>
      </div>
{% endif %}






{% if aPige != 0 %}
{% for participant in participants if participant['id'] == aPige %}

      {% set nomApige = participant['nom'] %}
      {% set prenomApige = participant['prenom'] %}





      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <!--img class="card-img-top" src="{{url_for('static',filename='images/file_de_cadeau.jpeg')}}" alt="Card image"-->
            <div class="card-body">
              <h5 class="card-title">Bravo!!! Vous avez pigé : {{prenomApige}} {{nomApige}}</h5>
              <p class="card-text">Voici la liste de cadeaux demandée par {{prenomApige}} :</p>



              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Article</th>
                    <th>Hyperlien</th>
                    <th></th>
                  </tr>
 

                  {% for cadeau in aPige_cadeaux %}

                    <tr>
                      <!--td><button class="button" onclick="location.href='/'" type="button">Enlever</button></td-->
                      <td>{{cadeau['cadeau']}}</td>
                      <td>{{cadeau['url']}}</td>
                    </tr>


                   {% endfor %}

                </table>
              </div> 

              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EnvoyerEmail">Envoyez un message à {{prenomApige}} {{nomApige}}</button>
              
            </div>
            
          </div>
        </div>
      </div>

{% endfor %}

{% endif %}








      <div class="row">

        <div class="col-12 col-lg-6">
          <div class="card">
            <img class="card-img-top" src="{{url_for('static',filename='images/file_de_cadeau.jpeg')}}" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">MA LISTE DE SOUHAITS</h5>


              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Article</th>
                    <th>Hyperlien</th>
                    <th></th>
                  </tr>
 

                  {% for cadeau in cadeaux %}

                    <tr>
                      <!--td><button class="button" onclick="location.href='/'" type="button">Enlever</button></td-->
                      <td>{{cadeau['cadeau']}}</td>
                      <td>{{cadeau['url']}}</td>
                      <td>
                         <button class="btn btn-danger" onclick="location.href='/retirer_cadeau/{{groupeId}}/{{userId}}/{{cadeau['cadeauId']}}'" 
                          type="button">Enlever</button>
                      </td>
                    </tr>


                   {% endfor %}

                </table>
              </div> 

{% if cadeaux|length > 4 %}
<p>Vous pouvez seulement ajouter 5 cadeaux</p>
<p>Vous pouvez enlever un cadeau pour l'échanger</p>
{% else %}

              <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ajouter un cadeau</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Liste de souhaits</h4>
      </div>
      <div class="modal-body">
        <p>Veuillez remplir toutes les cases.</p>


      <form action="/ajouter_cadeau/{{groupeId}}/{{userId}}" method="POST">
        
        <div class="form-group">
          <label for="cadeau">Description du cadeau :</label>
          <input type="text" name="cadeau" class="form-control" placeholder="Entrer Description" id="cadeau">  

          <label for="url">Hyperlien du site :</label>
          <input type="text" name="url" class="form-control" placeholder="Entrer url" id="url">
        </div>



        <button type="submit" class="btn btn-outline-primary">Ajouter le cadeau</button>
        
      </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>
    </div>

  </div>
</div>
{% endif %}



              
            </div>
            
          </div>
        </div>






        <div class="col-12 col-lg-6">
          <div class="card">

          	<img class="card-img-top" src="{{url_for('static',filename='images/group.svg')}}"  height="300" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">PARTICIPANTS</h5>


              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th></th>
                  </tr>
 

                  {% for participant in participants %}

                    <tr>
                      <td>{{participant['prenom']}}</td>
                      <td>{{participant['nom']}}</td>
                      <td>

                        {% if adminId == userId and aPige == 0 and adminId != participant['id'] %}
                          <button class="btn btn-danger" 
                          onclick="location.href='/retirer_participant/{{groupeId}}/{{userId}}/{{participant['id']}}'" 
                          type="button">Enlever</button>
                        {% endif %}

                        {% if adminId == participant['id'] %}
                        Organisateur
                        {% endif %}

                      </td>
                    </tr>


                   {% endfor %}

                </table>
              </div>  


            <div>
{% if adminId == userId and aPige == 0 %}
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ajouterParticipant">Ajouter un participant</button>
{% elif adminId == userId %}
<h5>Vous ne pouvez plus ajouter ni retirer des particpants après avoir effectué la pige.</h5>
{% endif %}

<!-- Modal -->
<div id="ajouterParticipant" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ajouter un participant</h4>
      </div>
      <div class="modal-body">
        <p>Veuillez fourinir l'adresse courriel du participant</p>
        <p>Le participant doit etre un abonné du site pour pouvoir l'ajoutter.</p>


      <form action="/ajouter_participant/{{groupeId}}/{{userId}}" method="POST">
        
        <div class="form-group">
          <label for="email">Adresse couriel du participant :</label>
          <input type="text" name="email" class="form-control" placeholder="Entrer le courriel" id="email">  
        </div>



        <button type="submit" class="btn btn-outline-primary">Ajouter le participant</button>
        
      </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>
    </div>

  </div>
</div>











<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EnvoyerEmail">Envoyez un courriel Aux participants</button-->

<!-- Modal -->
<div id="EnvoyerEmail" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Envoyer un courriel</h4>
      </div>
      <div class="modal-body">
        <p>Le message sera envoyé de façon anonyme.</p>


      <form action="#">
        
        <div class="form-group">
          <label for="message">Ecrire votre message ici :</label>
          <!--input type="text" name="message" class="form-control" placeholder="Ecrire le message" id="message"-->  
          <textarea class="form-control rounded-0" id="message" rows="10" cols="10"></textarea>
        </div>



        <button type="submit" class="btn btn-outline-primary">Envoyer</button>
        <p style="color: red">Note : ceci est à titre d'exemple et n'est pas implementé</p>
        <p style="color: red">Appuyez sur fermer pour fermer cette fenêtre</p>
        
      </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>
    </div>

  </div>
</div>














<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifierPige">Gérer mon profil</button-->

<!-- Modal -->
<div id="modifierPige" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modifier la pige</h4>
      </div>
      <div class="modal-body">

    <p>Veuillez entrer le nouveau montant des cadeaux</p>



      <form>
        
        <div class="form-group">
          <label for="nouvmontant">Nouveau montant :</label>
          <input type="text" name="nouvmontant" class="form-control" placeholder="Entrer le courriel" id="nouvmontant">  
        </div>



        <!--button type="submit" class="btn btn-outline-primary">Soumettre</button-->
        <p style="color: red">Note : ceci est à titre d'exemple et n'est pas implementé</p>
        <p style="color: red">Appuyez sur fermer pour fermer cette fenêtre</p>
        
      </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>
    </div>

  </div>
</div>













			</div>
              
            </div>
          </div>  
        </div>

        
      </div>

{% endblock %}