{% extends "squelette.html" %}

{% block titre%}Page de profil{% endblock %}


{% block nav %}

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{profil['prenom']}} {{profil['nom']}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">deconnexion</a>
      </div>
    </li>

{% endblock %}



              {% block jumbo %}
              <h1>Bienvenue {{profil['prenom']}} {{profil['nom']}}</h1>
              {% endblock %}





{% block corps %}

      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="card">
          	<img class="card-img-top" src="{{url_for('static',filename='images/avatar1.png')}}" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Mes informations</h5>
              <p class="card-text">Nom : {{profil['nom']}}</p>
              <p class="card-text">Prenom : {{profil['prenom']}}</p>
              <p class="card-text">Courriel : {{profil['email']}}</p>
   

            <div>
				<!--h4>Vous avez déjà compte?</h4-->
			    <!--a href="#" class="btn btn-outline-success" role="button">Gerer mon profil</a-->
			    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifierProfil">Gérer mon profil</button>
			</div>

              
            </div>
            
          </div>
        </div>


        <div class="col-12 col-lg-8">
          <div class="card">
          	<img class="card-img-top" src="{{url_for('static',filename='images/group.svg')}}" height="350" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Mes groupes</h5>


            <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th>Nom du groupe</th>
                    <th>Numero du groupe</th>
                    <th></th>
                  </tr>
 

                  {% for groupe in groupes %}

                    <tr style="cursor:pointer" onclick="location.href='/groupe/{{groupe['id']}}/{{profil['id']}}'">
                      <td>{{groupe['nom']}}</td>
                      <td>{{groupe['id']}}</td>
                      <td>
                      	{% if profil['id'] == groupe['admin']%}
                      	Vous êtes l'organisateur
                      	{% endif %}
                      </td>
                    </tr>


                   {% endfor %}

                </table>
            </div>

            <div>
				<!--h4>Vous avez déjà compte?</h4-->
			    <!--a href="/creer_groupe" class="btn btn-outline-success" role="button">Créer un groupe</a-->

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#creerGroupe">Créer un groupe</button>

<!-- Modal -->
<div id="creerGroupe" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Création du groupe</h4>
      </div>
      <div class="modal-body">

		<h3>Organisateur</h3>
		<p>En tant que créateur du groupe, vous serez l'administrateur du groupe.</p>
		<p>Vous aurez la rensponsbilité d'invité des participants et de fixer les règles de l'échange de cadeaux. </p>


      <form action="/creer_groupe/{{profil['id']}}" method="POST">
        
        <div class="form-group">
          <label for="nom">Nom du groupe :</label>
          <input type="text" name="nom" class="form-control" placeholder="Entrer le nom" id="nom">  
          <label for="montant">Montant du cadeau :</label>
          <input type="number" name="montant" class="form-control" placeholder="Entrer le montant" id="montant"> 
          <label for="date">Date de l'échange (ANNEE-MOIS-JOURS, ex : 2020-12-05) :</label>
          <input type="date" name="date" class="form-control" placeholder="Entrer la date" id="date"> 
        </div>



        <button type="submit" class="btn btn-outline-primary">Créer le groupe</button>
        
      </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>
    </div>

  </div>
</div>












<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifierProfil">Gérer mon profil</button-->

<!-- Modal -->
<div id="modifierProfil" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Changer mon adresse couriel</h4>
      </div>
      <div class="modal-body">

		<p>Veuillez entrer le nouveau courriel</p>



      <form>
        
        <div class="form-group">
          <label for="nouvemail">Nouveau courriel :</label>
          <input type="text" name="nouvemail" class="form-control" placeholder="Entrer le courriel" id="nouvemail">  
        </div>



        <!--button type="submit" class="btn btn-outline-primary">Soumettre</button-->
        <p style="color: red">Note : ceci est à titre d'exemple et n'est pas implementé</p>
        <p style="color: red">Appuyez sur fermer pour fermer cette fenêtre</p>

        
      </form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
      </div>
    </div>

  </div>
</div>



















			</div>





              
            </div>
          </div>  
        </div>
        

        <!--div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Titre de la carte</h5>
              <p class="card-text">Contenu de la carte ... texte</p>
              
            </div>
          </div>  
        </div-->
        
      </div>

{% endblock %}